<ion-header>
  <ion-toolbar>
    <ion-title>Truck Delivery</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-grid>
  <ion-row id="row1">
    <ion-col size="12" align="center">
      <ion-button (click)="direct($event,'client')" size="large" shape="round" color="tertiary" fill="outline">
        <ion-icon name="person-outline"></ion-icon>&nbsp;Client
      </ion-button>
    </ion-col>
    </ion-row>
    <ion-row id="row2">
    <ion-col size="12" align="center">
      <ion-button (click)="direct($event,'staff')" size="large" shape="round" color="primary" fill="outline">
        <ion-icon name="person-outline"></ion-icon>&nbsp;Staff
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row id="row3">
    <ion-col size="12" align="center">
      <ion-button (click)="direct($event,'driver')" size="large" shape="round" color="primary" fill="outline">
        <ion-icon name="person-outline"></ion-icon>&nbsp;Driver
      </ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
